.modal-area {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  background-image: linear-gradient(
    rgba(23, 207, 47, 0.6),
    rgba(180, 0, 0, 0.7)
  );

  .modal-container {
    background: white;
    box-shadow: var(--fb-box-shadow);
    width: 435px;

    .modal-header {
      display: flex;
      justify-content: space-between;
      padding: 15px;

      .modal-content{

      }
      i{
        cursor: pointer;
        height: 100%;
        font-size: 20px;
      }
    }
  }
}
